
  <form>
  <label for="exampleInputEmail1">Selecione una Extensión</label>
  <select class="form-control form-control-lg" [(ngModel)]="selectExtension" name="selectExtension">
    <option class="active" value="IASA">
      IASA
    </option>
    <option class="active" value="SANTO DOMINGO">
      SANTO DOMINGO
    </option>
    <option class="active" value="LATACUNGA">
      LATACUNGA
    </option>
    <option class="active" value="PLANTA CENTRAL">
      PLANTA CENTRAL
    </option>
  </select>
</form>
  <br>
   
        <div class="col-md-6" >
          <button (click)="consultarGastoDepartamento()" class="btn btn-lg btn-success mb-2" >
            Consultar
          </button>
        </div>

<div class="table-responsive">
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="alert alert-success col-md-6 text-center" role="alert">
        Puedes Ingresar Valores Manualmente o subir un archivo de Excel<br>
        <a class="text-primary" href="" data-toggle="modal" data-target="#modalImagen">¿Qué debe contener el archivo Excel
          a importar?</a>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group mb-4">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="onFileChange($event)"
              accept=".xlsx">
            <label class="custom-file-label" for="inputGroupFile02">Subir Archivo...</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2" *ngIf="asignado.length > 0">
      <div class="col-md-12">
        <div class="row m-2">
          <table class="table table-bordered" [formGroup]="gastoInversionForm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">ORGANISMO</th>
                <th scope="col" class="text-center">EXTENCION</th>
                <th scope="col" class="text-center">NOMBRE DEL PROYECTO</th>
                <th scope="col" class="text-center">NOMBRE DE LA ACTIVIDAD</th>
                <th scope="col" class="text-center">PARTIDA</th>
                <th scope="col" class="text-center">ASIGNADO</th>
                <th scope="col" class="text-center">MODIFICADO</th>
                <th scope="col" class="text-center">VIGENTE</th>
                <th scope="col" class="text-center">CERTIFICADO</th>
                <th scope="col" class="text-center">COMPROMETIDO</th>
                <th scope="col" class="text-center">DEVENGADO</th>
                <th scope="col" class="text-center">PAGADO</th>
                <th scope="col" class="text-center">SALDO POR COMPROMETER</th>
                <th scope="col" class="text-center">SALDO POR DEVENGAR</th>
                <th scope="col" class="text-center">SALDO POR PAGAR</th>
                <th scope="col" class="text-center">% EJECUCION</th>
                <th scope="col" class="text-center">CORRELATIVO</th>
                <th scope="col" class="text-center">EOD</th>
                <th scope="col" class="text-center">CUP</th>
                <th scope="col" class="text-center">CODIGO ESTRUCTURA PRESUPUESTARIA</th>
                <th scope="col" class="text-center">CODIGO ITEM</th>
              </tr>
            </thead>
            <tbody>
              <tr formArrayName="campos"  *ngFor="let item of asignado | paginate: { itemsPerPage: 10, currentPage: pageActual}; let i = index as i">
                <th scope="row" *ngIf="i<asignado.length-1">{{ i + 1 }}</th>
                <td class="text-center" style="font-size: x-small; ">{{ item.Organismos}}</td>
                <td class="text-center" style="font-size: x-small; ">{{ item.Extension}}</td>
                <td class="text-center" style="font-size: x-small; ">{{ item.NDP}}</td>
                <td class="text-center" style="font-size: x-small; ">{{ item.NDLA}}</td>
                <td class="text-center" style="font-size: x-small; ">{{ item.Partida}}</td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input class="form-control" [value] = 'item.Asignado' type="text"></td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input class="form-control" [value] = 'item.Modificado' type="text"></td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input  class="form-control" [value] = 'item.Vigente' type="text"></td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input  class="form-control" [value] = 'item.Certificado' type="text"></td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input  class="form-control"   [value] = 'item.Comprometido' type="text"></td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input  class="form-control"   [value] = 'item.Devengado' type="text"></td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input  class="form-control"   [value] = 'item.Pagado' type="text"></td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input  class="form-control"   [value] = 'item.SaldoPorComprometer' type="text"></td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input  class="form-control"   [value] = 'item.SaldoPorDevengar' type="text"></td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input  class="form-control"   [value] = 'item.SaldoPorPagar' type="text"></td>
                <td class="text-center" *ngIf="i<asignado.length-1"><input  class="form-control"   [value] = 'item.Ejecucion' type="text"></td>
                <td class="text-center">{{ item.Correlativo}}</td>
                <td class="text-center">{{ item.EOD}}</td>
                <td class="text-center">{{ item.CUP}}</td>
                <td class="text-center">{{ item.CodigoEstructuraPresupuestaria}}</td>
                <td class="text-center">{{ item.CodigoItem}}</td>
              </tr>
            </tbody>
            <tfoot class="bg-dark">
              <tr>
              <td class="text-center">Total</td>
              <td class="text-center" style="font-size: x-small; "></td>
              <td class="text-center" style="font-size: x-small; "></td>
              <td class="text-center" style="font-size: x-small; "></td>
              <td class="text-center" style="font-size: x-small; "></td>
              <td class="text-center" style="font-size: x-small; "></td>
               <td scope="col" class="text-white">{{resultados[resultados.length-1].Asignado}}</td>
                <td scope="col" class="text-white">{{resultados[resultados.length-1].Modificado}}</td>
                <td scope="col" class="text-white">{{resultados[resultados.length-1].Vigente}}</td>
                <td scope="col" class="text-white">{{resultados[resultados.length-1].Certificado}}</td>
                <td scope="col" class="text-white">{{resultados[resultados.length-1].Comprometido}}</td>
                <td scope="col" class="text-white">{{resultados[resultados.length-1].Devengado}}</td>
                <td scope="col" class="text-white">{{resultados[resultados.length-1].Pagado}}</td>
                <td scope="col" class="text-white">{{resultados[resultados.length-1].SaldoPorComprometer}}</td>
                <td scope="col" class="text-white">{{resultados[resultados.length-1].SaldoPorDevengar}}</td>
                <td scope="col" class="text-white">{{resultados[resultados.length-1].SaldoPorPagar}}</td>
                <td scope="col" class="text-white">{{resultados[resultados.length-1].Ejecucion}}</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                </tr>
            </tfoot>
          </table>
          <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

        </div>
        <div class="form-actions">
          <button type="button" class="btn btn-success btn-sm" 
          (click)="createGastoInversion()">
            Guardar<i class="fa fa-check"></i>
          </button>   
      </div>
      </div>
      
      <div>
  <div>
  
  </div>
